
body {
	background: #141414;
	color: #ffffff;
}
::-webkit-scrollbar{
	width: 19px;

}
::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-thumb{
	background-color: #313131;
	border-radius: 20px;
	border: 5px solid transparent;
  	background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
	background-color: #424242;
	cursor: pointer;
}


/* .row{
	-ms-overflow-style: none;
  	scrollbar-width: none;
} */
/* .row::-webkit-scrollbar{
	width: 20px;
}
.row::-webkit-scrollbar-track {
	background-color: #141414;
  }
.row::-webkit-scrollbar-thumb{
	background-color: #272727;
	border-radius: 20px;
	border: 4px solid transparent;
  	background-clip: content-box;
}
.row::-webkit-scrollbar-thumb:hover{
	background-color: #313131;
	cursor: pointer;
} */

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.03);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}
.fav-btn:hover{
	color:rgb(204, 19, 19);
}
.outside{
	width: 100vw;
 	height: 100vh;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	position: fixed;
  	z-index: 9999;
	background-color: #17181a;
	overflow: scroll;
}
.info-card{
	position: absolute;
	top: 8%;
	left: 8%;
	max-width: 80%;
	min-width: 60%;
	color: white;
	background-color: #313131;
	z-index: 10;
	padding: 15px 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
/* .info-card-fav{
	position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
	max-width: 550px;
	min-height: 92vh;
	color: white;
	background-color: #313131;
	z-index: 10;
	padding: 15px 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
} */
.info-head{
	display: flex;
	justify-content: end;
	padding-bottom: 5px;
	margin-right: -10px;
}
.close-icon{
	cursor: pointer;
	font-size: 24px;
	z-index: 11;
}
.info-top{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -25px;
}
.info-content{
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 12px;
}
.left{
	padding-right: 24px;
}
.right{
	max-width: 70%;
}
.poster{
	max-width: 400px;
	padding-bottom: 15px;
}
.ratings{
	display: flex;
	flex-direction: row;
	max-width: 65%;
	justify-content: space-between;
	font-size: 16px;
}
.info-bot{
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.info-row{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media (max-width: 768px) {
	.info-card,
	.outside {
	  overflow: scroll;
	}
	.info-content {
	  flex-direction: column;
	  align-items: center;
	}
	.ratings{
		max-width: 110%;
	}
	.left, .right{
		padding: 0;
	}
	.left{
		margin: auto;
	}
	.right{
	  min-width: 110%;
	  margin: auto;
	}
  }

.loading{
	display: flex;
	align-self: center;
	justify-content: center;
	min-width: 100vh;
	min-height: 80vh;
}
.no-display{
	display: none;
}
.header{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	margin-bottom: -20px;
	cursor: default;
}
.header h1 {
	font-size: 48px;
}
.logo{
	font-size: 36px;
	padding-bottom: 10px;
	color: #3057d8
}
  
.input-icons {
	display: flex;
	align-items: center;
}
  
.icon {
	margin-left: -47px;
	color: #3057d8;
	min-width: 50px;
	text-align: center;
}
.footer{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: #0f0f0f;
}
